.banner {
  background: $grey-l url('../../img/banner.jpg') no-repeat center / cover;
  padding: 150px 0;

  &__container {
    .title2-banner {
      width: 39.5%;
      margin-bottom: 49px;

      &__top {
        font: 900 60px / 72px "PlayfairDisplay-Black";
        color: $gold;
      }

      &__bottom {
        font-weight: 400;
        line-height: 57px;
        color: $white;
      }
    }
  }
}
