.best {
  padding-bottom: 70px;

  .rating {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    grid-template-areas:
      'b1 b2 b3 b4';


    .card1 {
      grid-area: b1;
    }

    .card2 {
      grid-area: b2;
    }

    .card3 {
      grid-area: b3;
    }

    .card4 {
      grid-area: b4;
    }
  }
}

