.categ {
  padding: 70px 0;

  .cat {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 511px 405px;
    grid-auto-rows: 405px;
    gap: 32px;
    grid-template-areas:
      'c1 c1 c1 c2 c2 c2'
      'c3 c3 c4 c4 c5 c5';

    .cat-card {
      background: no-repeat left 121px / 82%;
    }

    .card1 {
      grid-area: c1;
      @include image-set('../../img/cat1');
    }

    .card2 {
      grid-area: c2;
       @include image-set('../../img/cat2');
    }

    .card3 {
      grid-area: c3;
       @include image-set('../../img/cat3');
      background-size: 75%;
    }

    .card4 {
      grid-area: c4;
       @include image-set('../../img/cat4');
      background-size: 82%;
    }

    .card5 {
      grid-area: c5;
       @include image-set('../../img/cat5');
      background-size: 65%;
    }
  }
}
