.fb {
  padding: 70px 0 73px;

  &__container {
    @include flex-center-space;
    gap: 32px;

    .content {
      @include flexC;
      flex-basis: 50%;


      .title2 {
        margin-bottom: 9px;
      }

      .descr {
        line-height: 19px;
        margin-bottom: 16px;
      }

      .fb__form {
        @include flexC;
        gap: 27px;
        width: 100%;

        &-wrap {
          width: 100%;

          .input {
            padding: 7px 18px;
            border: $bor-1;
            width: 100%;
            line-height: 40px;
            border-radius: $r-10;
            background-color: $grey-l;

            &::placeholder {
              color: $grey;
            }

            &:hover:not(:active) {
              background-color: $grey-md;
            }

            &:focus-visible:not(:hover):not(:active) {
              border-color: $primary;
              background-color: $pink-l;
            }

            // валидное поле !!!
            &:active {
              border-color: $green;
            }
          }
        }

        .checkbox {
          order: 1;
          margin-top: -18px;

          &__span {
            padding-left: 22px;
            font-size: 14px;
            line-height: 17px;
            color: $black;

            &::before {
              content: "";
              width: 14px;
              height: 14px;
            }

            &-link {
              color: $primary;
              border-bottom: $bor-1;
              border-color: $primary;
              transition: $tr;
              transition-property: color border-color;

              &:hover {
                color: $primary-l;
                border-color: $primary-l;
              }

              &:focus-visible:not(:hover):not(:active) {
                border-color: $black;
              }

              &:active {
                color: $primary-s;
                border-color: $primary-s;
              }
            }
          }
        }

        .btn {
          padding: 19px 35px;
          font-weight: 600;
        }


      }
    }

    .picture {
      flex-basis: 50%;
    }
  }
}
