.hero {
  background: $grey-l no-repeat bottom / cover;
  @include image-set('../../img/hero-desk');
  padding: 80px 0;

  &__container {
    .title2-banner {
      width: 39%;
      margin-bottom: 49px;
    }
  }
}
