@import "../vars";
@import "../mixins";

.catalog {
  padding-bottom: 70px;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    row-gap: 12px;
    grid-template-areas:
      'c1 c2 c2 c2'
      'c3 c4 c4 c4';

    .title-filter {
      grid-area: c1;
      font: 400 18px / 23.5px $font-f;
    }

    .title-catalog {
      grid-area: c2;
    }


    &-left {
      @include flexC;
      gap: 32px;
      grid-area: c3;
      grid-row: 2/span 1;

      .filter {
        @include flexC;
        gap: 26px;

        &__item {
          .title4 {
            margin-bottom: 10px;
            line-height: 21px;
            color: $grey-s;
          }

          ul {
            @include flexC;
            gap: 11px;
          }


          &:last-child {
            .title4 {
              margin-bottom: 5px;
            }

            ul {
              @include flex-y-center;

              .price-label {
                margin-right: 9px;
              }
            }
          }
        }
      }


      .catalog__banner {
        margin-top: auto;
        margin-bottom: 32px + 34px;
        overflow: hidden;
        border-radius: $r-10;

        .picture {
          display: flex;
        }

        &-content {
          background-color: $black;
          padding: 30px;

          .text-wrap {
            margin-bottom: 12px;
            max-width: 200px;

            .title2-banner {
              font-size: 24px;
              line-height: 32px;
            }

            &__descr {
              font-size: 16px;
              line-height: 22px;
              color: $grey;
            }
          }
        }
      }
    }




    &-right {
      grid-area: c4;
      grid-row: 2/span 1;

      .catalog-swiper {
        .swiper-wrapper {
          .catalog__slide {
            @include flex-xy-center;
            border: 1px solid red;
            min-height: 420px;
            font: 600 30px / 16px $font-f;
          }
        }
      }

      .catalog__pagination {
        padding-top: 32px;
        @include flex-xy-center;
        gap: 16px - 8px;

        .swiper-pagination-bullet {
          width: 32px;
          height: 32px;
          border-radius: $r-10;
          border: $bor-2;
          border-color: $primary;
          background-color: transparent;
          opacity: 1;
          @include flex-xy-center;
          color: $primary;
          font-size: 16px;
          font-weight: 600;
          transition: $tr;
          transition-property: background-color, border-color, color;

          &:hover {
            color: $white;
            background-color: $primary;
          }

          &:focus-visible:not(:hover) {
            border-color: $primary;
            color: $white;
            background-color: $primary-l;
          }

        }

        .swiper-pagination-bullet-active {
          border-color: $primary-s;
          background-color: $primary-s;
          color: $white;
        }

      }

    }



    // &-right {
    //   grid-area: c4;
    //   grid-row: 2/span 1;
    //   @include flexC-x-center;
    //   gap: 32px;

    //   .rating {
    //     display: grid;
    //     grid-template-columns: repeat(3, 1fr);
    //     gap: 32px;
    //     padding-top: 12px;

    //     .card10,
    //     .card11,
    //     .card12 {
    //       display: none;
    //     }
    //   }

    //   .catalog__pagin {
    //     @include flex-y-center;
    //     gap: 16px;

    //     .btn {
    //       &:nth-child(3) {
    //         display: none;
    //       }
    //     }
    //   }
    // }
  }
}
