@import "../vars";
@import "../mixins";

.product {
  padding-bottom: 70px;

  &__content {
    .product-card {
      padding: 16px 0 82px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      row-gap: 113px;

      .picture {
        align-self: center;
      }

      .model {
        position: relative;
        @include starReting;
        @include flexC;
        gap: 21px;
        padding-top: 21px;

        &::after {
          content: '4,8';
          top: 0;
          left: 0;
        }

        .titleDescr {
          &__title3 {
            margin-bottom: 5px;
          }

          .descr {
            color: $grey;
          }
        }

        .price {
          font-size: 38px;
          line-height: 47px;
        }

        .links {
          @include flexC-x-center;
          gap: 12px;

          .btn-bg {
            padding: 19px 35px;
          }
        }

      }

      .descrip,
      .character {
        line-height: 25px;
      }

      .descrip {
        @include flexC;
        justify-content: space-between;
        gap: 32px;

        &__text {
          .title4 {
            margin-bottom: 8px;
          }

          p:not(:last-child) {
            margin-bottom: 8px;
          }
        }

        &__draw {
          @include flex-y-center;
          gap: 32px;
        }
      }

      .character {
        &-list {
          .item {
            @include flex-y-center;

            &__main {
              position: relative;
              white-space: nowrap;
              overflow: hidden;
              flex-basis: 52.5%;
              color: $grey;

              &::after {
                content: '. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
                position: absolute;
                bottom: 0;
              }

            }
          }
        }
      }
    }

    &-bottom {
      .product__content-title3 {
        margin-bottom: 24px;
      }

      .rating {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
      }
    }
  }
}
