@import "../vars";
@import "../mixins";

.product {
  padding-bottom: 70px;

  &__content {
    padding-top: 13px;

    &-bottom {
      .product__content-title3 {
        margin-bottom: 24px;
      }

      .rating {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
      }
    }
  }
}
