<ul class="list-reset soc">
  <li class="soc__item">
    <a href="#" target="_blank" class="soc__item-link" aria-label="Однаклассники">
      <svg class="soc-svg icon" width="30px" height="30px" viewbox="0 0 30 30">
        <use xlink:href="img/sprite.svg#ok"></use>
      </svg>
    </a>
  </li>
  <li class="soc__item">
    <a href="#" target="_blank" class="soc__item-link" aria-label="Вконтакте">
      <svg class="soc-svg icon" width="30px" height="30px" viewbox="0 0 30 30">
        <use xlink:href="img/sprite.svg#vk"></use>
      </svg>
    </a>
  </li>
</ul>
