<ul class="list-reset userBasket">
  <li class="userBasket__item">
    <a href="#" class="userBasket-link" aria-label="Личный кабинет">
      <svg class="user-svg icon" width="26px" height="28px" viewbox="0 0 26 28">
        <use xlink:href="img/sprite.svg#user"></use>
      </svg>
    </a>
  </li>
  <li class="userBasket__item">
    <a href="#" class="userBasket-link" aria-label="Корзина">
      <div class="basket-wrap">
        <span class="basket-count">0</span>
        <svg class="basket-svg icon" width="30px" height="28px" viewbox="0 0 30 28">
          <use xlink:href="img/sprite.svg#basket"></use>
        </svg>
      </div>
    </a>
  </li>
</ul>
