@import "../vars";


@mixin tablet {
  @media (max-width: (1024px)) {
  .page__body {
      .container {
        padding: $padX-tab;
      }
      @content;
    }
  }
}

@mixin tabletSm {
  @media (max-width: (768px)) {
  .page__body {
      .container {
        padding: $padX-tabSm;
      }
      @content;
    }
  }
}

@mixin mob {
  @media (max-width: (320px)) {
  .page__body {
      .container {
        padding: $padX-mob;
      }
      @content;
    }
  }
}
