@mixin flex {
  display: flex;
}



@mixin flex-h-center {
  display: flex;
  justify-content: center;
}



@mixin flex-all-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
