<section class="best">
  <div class="container best__container">
    <h2 class="title2">
      Высокий рейтинг
    </h2>

    <ul class="rating list-reset">
      <li class="best-card card1">
        <picture class="picture">
          <source srcset="../img/best1.webp" type="image/webp">
          <img loading="lazy" src="../img/best1.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван кожаный “R-94”
          </h3>
          <span class="price">
            94 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card2">
        <picture class="picture">
          <source srcset="../img/best2.webp" type="image/webp">
          <img loading="lazy" src="../img/best2.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван апартековый “T-75”
          </h3>
          <span class="price">
            69 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card3">
        <picture class="picture">
          <source srcset="../img/best3.webp" type="image/webp">
          <img loading="lazy" src="../img/best3.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван тканевый “D-31”
          </h3>
          <span class="price">
            28 490 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card4">
        <picture class="picture">
          <source srcset="../img/best4.webp" type="image/webp">
          <img loading="lazy" src="../img/best4.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван велюровый “Y-68”
          </h3>
          <span class="price">
            22 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card5">
        <picture class="picture">
          <source srcset="../img/best5.webp" type="image/webp">
          <img loading="lazy" src="../img/best5.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван из шинила “W-95”
          </h3>
          <span class="price">
            22 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card6">
        <picture class="picture">
          <source srcset="../img/best6.webp" type="image/webp">
          <img loading="lazy" src="../img/best6.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван флоковый “G-41”
          </h3>
          <span class="price">
            17 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card7">
        <picture class="picture">
          <source srcset="../img/best7.webp" type="image/webp">
          <img loading="lazy" src="../img/best7.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван шиниловый “V-43”
          </h3>
          <span class="price">
            19 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <li class="best-card card8">
        <picture class="picture">
          <source srcset="../img/best8.webp" type="image/webp">
          <img loading="lazy" src="../img/best8.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван велюровый “S-99”
          </h3>
          <span class="price">
            19 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li>

      <!-- <li class="best-card card9">
        <picture class="picture">
          <source srcset="../img/best9.webp" type="image/webp">
          <img loading="lazy" src="../img/best9.png" alt="Продукт высокого рейтинга">
        </picture>

        <div class="best-card__wrap-text">
          <h3 class="title3">
            Диван из кожзама “F-85”
          </h3>
          <span class="price">
            26 990 руб
          </span>
          <button class="btn-reset btn btn-stroke">
            Купить
          </button>
        </div>
      </li> -->

    </ul>
  </div>
</section>
