<!-- @include('header.html') -->

<section class="catalog">
  <div class="container catalog__container">

    <ul class="route list-reset">
      <li class="route__item">
        <a href="#" class="sec-link">
          Главная
        </a>
      </li>
      <li class="route__item">
        <span class="slash">/</span>
        <a href="#" class="sec-link">
          Каталог
        </a>
      </li>
      <li class="route__item">
        <span class="slash">/</span>
        <a href="#" class="sec-link">
          Диваны
        </a>
      </li>
      <li class="route__item">
        <span class="slash">/</span>
        <a href="#" class="sec-link">
          Прямые диваны
        </a>
      </li>
    </ul>

    <div class="catalog__content">
      <div class="catalog__content-left">
        <h3>Фильтровать по:</h3>
        <ul class="filter list-reset">
          <li class="filter__item">
            <h4 class="filter__item-title">
              Цвет
            </h4>
            <ul class="color-list list-reset">
              <li class="color-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Коричневый
                  </span>
                </label>
              </li>
              <li class="color-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Черный
                  </span>
                </label>
              </li>
              <li class="color-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Синий
                  </span>
                </label>
              </li>
              <li class="color-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Белый
                  </span>
                </label>
              </li>
            </ul>
          </li>

          <li class="filter__item">
            <h4 class="filter__item-title">
              Категория
            </h4>
            <ul class="category-list list-reset">
              <li class="category-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Диваны
                  </span>
                </label>
              </li>
              <li class="category-list__item">
                <label class="checkbox">
                  <input class="checkbox__input" type="checkbox">
                  <span class="checkbox__span">
                    Кресла
                  </span>
                </label>
              </li>
            </ul>
          </li>

          <li class="filter__item">
            <h4 class="filter__item-title">
              Цена
            </h4>
            <ul class="category-list list-reset">
              <li class="category-list__item">
                <label class="">
                  <span class="">от</span>
                  <input type="number" min="2000" max="150000" class="input-reset input input-cost" placeholder="2000">
                </label>
              </li>
              <li class="category-list__item">
                <label class="">
                  <span class="">до</span>
                  <input type="number" min="2000" max="150000" class="input-reset input input-cost" placeholder="150 000">
                </label>
              </li>
            </ul>
          </li>
        </ul>

        <div class="baner">
        </div>
      </div>

      <div>
        <h2 class="title2">
          Каталог
        </h2>
        <div>
          <ul class=""></ul>
          <div class="pagin"></div>
        </div>
      </div>
    </div>


  </div>
</section>

<!-- @include('footer.html') -->
