<section class="categ">
  <div class="container categ__container">
    <h2 class="title2">
      Топ категории
    </h2>

    <ul class="cat list-reset">
      <li class="cat-card card1">
        <ul class="list list-reset">
          <li class="list-item">
            <a href="#" class="sec-link">
              Прямые
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Угловые
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Модульные
            </a>
          </li>
        </ul>

        <div class="card-wrap">
          <h3 class="title3">
            Диваны
          </h3>
          <a href="#" class="to-link">
            <span class="to-link__text">В каталог</span>
            @include('components/arrow.html')
          </a>
        </div>
      </li>

      <li class="cat-card card2">
        <ul class="list list-reset">
          <li class="list-item">
            <a href="#" class="sec-link">
              Мягкие
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Кресла-кровати
            </a>
          </li>
        </ul>

        <div class="card-wrap">
          <h3 class="title3">
            Кресла
          </h3>
          <a href="#" class="to-link">
            <span class="to-link__text">В каталог</span>
            @include('components/arrow.html')
          </a>
        </div>
      </li>

      <li class="cat-card card3">
        <ul class="list list-reset">
          <li class="list-item">
            <a href="#" class="sec-link">
              Односпальные
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Двуспальные
            </a>
          </li>
        </ul>

        <div class="card-wrap">
          <h3 class="title3">
            Кровати
          </h3>
          <a href="#" class="to-link">
            <span class="to-link__text">В каталог</span>
            @include('components/arrow.html')
          </a>
        </div>
      </li>

      <li class="cat-card card4">
        <ul class="list list-reset">
          <li class="list-item">
            <a href="#" class="sec-link">
              Тумбы
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Комоды
            </a>
          </li>
        </ul>

        <div class="card-wrap">
          <h3 class="title3">
            Тумбы и комоды
          </h3>
          <a href="#" class="to-link">
            <span class="to-link__text">В каталог</span>
            @include('components/arrow.html')
          </a>
        </div>
      </li>

      <li class="cat-card card5">
        <ul class="list list-reset">
          <li class="list-item">
            <a href="#" class="sec-link">
              Деревянные
            </a>
          </li>
          <li class="list-item">
            <a href="#" class="sec-link">
              Металлокаркас
            </a>
          </li>
        </ul>

        <div class="card-wrap">
          <h3 class="title3">
            Стулья
          </h3>
          <a href="#" class="to-link">
            <span class="to-link__text">В каталог</span>
            @include('components/arrow.html')
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
