<!-- @include('header.html') -->

<section class="cooperat">
  <div class="container cooperat__container">

    <ul class="route list-reset">
      <li class="route__item">
        <a href="#" class="sec-link">
          Главная
        </a>
      </li>
      <li class="route__item">
        <span class="slash">/</span>
        <a href="#" class="sec-link">
          Сотрудничество
        </a>
      </li>
    </ul>


    <div class="cooperat__content">
      <h2 class="title2">
        Сотрудничество
      </h2>

      <ul class="main-list list-reset">
        <li class="main-list__item item1">
          <h3 class="title3">
            Поставщикам
          </h3>
          <p class="descr">
            При планировании обстановки торгового помещения важно обустроить его с комфортом для покупателей: грамотно
            зонировать, обеспечить эффективную демонстрацию и хранение товаров в зале. Если вам необходимо комплексное
            оснащение, организация зоны отдыха или отдельные предметы меблировки для поддержания эффективной торговой
            деятельности, мы поможем выбрать продукцию с учетом нагрузки от поступающего трафика.
          </p>
        </li>

        <li class="main-list__item item2">
          <h3 class="title3">
            Что вы получаете?
          </h3>
          <ul class="give-list list-reset sec-list">
            <li class="give-list__item">
              <p class="descr descr1">
                Мы ценим идеи и вдохновение и предлагаем сотрудничество талантливым дизайнерам и архитекторам.
                Выпускаемая нами продукция гармонично дополнит любой современный проект.
              </p>
            </li>
            <li class="give-list__item">
              <p class="descr descr2">
                Комплексное решение для красивого и функционального обустройства любых пространств.
              </p>
            </li>
            <li class="give-list__item">
              <p class="descr descr3">
                В ассортименте представлены все товарные группы для того, чтобы воссоздать обстановку в помещениях
                разных типов: кабинетах, смешанных пространствах, Open Space, гостевых и переговорных комнатах.
              </p>
            </li>
          </ul>
        </li>

        <li class="main-list__item item3">
          <h3 class="title3">
            Ваши преимущества от сотрудничества
          </h3>
          <ul class="edge-list list-reset sec-list">
            <li class="edge-list__item">
              <span class="edge-list__item-title">
                Возможность 1:
              </span>
              <p class="descr">
                Создавайте незабываемые впечатления. Красиво меблированная фотостудия не оставит клиентов равнодушными,
                а созданная интерьером атмосфера будет надолго запечатлена на их снимках. Стильная и разноплановая
                обстановка творческого пространства – ключевая составляющая его успешной деятельности. Позаботьтесь о
                людях в кадре, а мы поможем правильно выбрать мебель.
              </p>
            </li>
            <li class="edge-list__item">
              <span class="edge-list__item-title">
                Возможность 2:
              </span>
              <p class="descr">
                Мы предлагаем застройщикам, работающим на территории РФ, участие наших специалистов от этапа
                проектирования обстановки квартир и подбора комплексных интерьерных решений до оптовых поставок мебели.
                Поможем организовать демонстрационный зал с образцами изделий и материалов на площади нового здания,
                чтобы покупатель заблаговременно подобрал тот вариант меблировки, который удовлетворит даже самые
                взыскательные ожидания.
              </p>
            </li>
          </ul>
        </li>


        <li class="main-list__item item4">
          <h3 class="title3">
            Гарантии
          </h3>
          <ul class="guarantee-list list-reset sec-list">
            <li class="guarantee-list__item">
              <span class="guarantee-list__item-number">
                1.
              </span>
              <p class="descr">
                При приемке товара Покупатель должен внимательно проверить его количество, качество и ассортимент на
                соответствие сопроводительным документам и заказу. После подписания товарного чека Покупатель утрачивает
                право предъявления претензий, которые можно выявить при приемке товара.
              </p>
            </li>
            <li class="guarantee-list__item">
              <span class="guarantee-list__item-number">
                2.
              </span>
              <p class="descr">
                На товары, сборка которых производилась покупателем самостоятельно (не специалистами Продавца),
                гарантийные обязательства Продавца не распространяются. Также гарантия не распространяется на
                повреждения товара, полученные в ходе самостоятельной доставки и подъема товара. Покупатель не вправе
                отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, т.е. если товар
                может быть использован исключительно приобретающим его потребителем.
              </p>
            </li>
            <li class="guarantee-list__item">
              <span class="guarantee-list__item-number">
                3.
              </span>
              <p class="descr">
                Возврат или обмен товара возможен при условии, что сохранена упаковка, товарный вид и потребительские
                свойства товара, а также товарный и кассовый чеки. В этом случае мы гарантируем вам возврат полной
                стоимости товара (за вычетом стоимости доставки). В случае отказа от товара при доставке, клиент
                оплачивает услуги доставки.
              </p>
            </li>
          </ul>
        </li>

        <li class="main-list__item item5">
          <p class="item5__descr">
            Срок гарантии на нашу мебель составляет от 18 до 60 месяцев
          </p>
        </li>


      </ul>
    </div>

  </div>
</section>

<!-- @include('footer.html') -->
