<footer class="footer">
  <div class="foot">
    <div class="container foot__wrap">
      <div class="foot__logoSoc">
        @include('components/logo.html')
        @include('components/soc.html')
      </div>

      <nav class="nav foot__nav" title="Нижнее меню">
        <ul class="nav__head list-reset">
          <li class="nav__head-item">
            <span class="title4">
              О нас
            </span>
            <ul class="list list-reset">
              <li class="list__item">
                <a href="#" class="sec-link">
                  О компании
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Блог
                </a>
              </li>
            </ul>
          </li>
          <li class="nav__head-item">
            <span class="title4">
              Услуги
            </span>
            <ul class="list list-reset">
              <li class="list__item">
                <a href="#" class="sec-link">
                  Доставка
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Рассрочка и кредит
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Сборка и установка
                </a>
              </li>
            </ul>
          <li class="nav__head-item">
            <span class="title4">
              Связь с нами
            </span>
            <ul class="list list-reset">
              <li class="list__item">
                <a href="#" class="sec-link">
                  Обратная связь
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Контакты
                </a>
              </li>
            </ul>
          <li class="nav__head-item">
            <span class="title4">
              Сотрудничество
            </span>
            <ul class="list list-reset">
              <li class="list__item">
                <a href="cooperation.html" class="sec-link">
                  Поставщикам
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Оптовикам
                </a>
              </li>
              <li class="list__item">
                <a href="#" class="sec-link">
                  Карьера
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="copy">
    <span class="container copy__text">
      SDP® 2011-2021
    </span>
  </div>

</footer>
