<div class="ui-kit container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <!-- BUTTON -->
  <button class="btn-reset arrow-disab">
    @include('components/arrow.html')
  </button>

  <button class="btn-reset btn-disab">
    Получить!
  </button>

  <button class="btn-reset btn btn-bg">
    Получить!
  </button>

  <button class="btn-reset btn btn-stroke">
    Купить!
  </button>

  <button class="btn-reset btn btn-stroke btn-pagin">
    1
  </button>

  <button class="btn-reset btn-close">
    <svg class="close-svg icon" width="12px" height="12px" viewbox="0 0 12 12">
      <use xlink:href="img/sprite.svg#x"></use>
    </svg>
  </button>


  <!-- LINK -->
  <a href="#" class="sec-link">
    О компании
  </a>

  <a href="#" class="main-link">
    Каталог
  </a>

  <a href="#" class="to-link">
    <span class="to-link__text">В каталог</span>
    @include('components/arrow.html')
  </a>



  <!-- INPUT -->
  <form class="form form-bottom" action="https://jsonplaceholder.typicode.com/posts" method="post">
    <input type="text" name="search" class="input-reset input input-bottom" placeholder="Как вас зовут?">
    <button class="btn-reset btn btn-bg">Отправить</button>
  </form>


  <input type="text" class="input-reset input input-cost" placeholder="2000">


</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
