<section class="useful">
  <div class="container">
    <h2 class="title2">
      Полезное
    </h2>

    <ul class="useful-list list-reset">
      <li class="useful-card card1">
        <p class="text">
          И нет сомнений, что сделанные на базе интернет-аналитики выводы представляют собой не что иное?
        </p>
        <a href="#" class="btn-reset btn btn-stroke">
          Читать
        </a>
      </li>

      <li class="useful-card card2">
        <p class="text">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <a href="#" class="btn-reset btn btn-stroke">
          Читать
        </a>
      </li>

      <li class="useful-card card3">
        <p class="text">
          Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
        </p>
        <a href="#" class="btn-reset btn btn-stroke">
          Читать
        </a>
      </li>

      <li class="useful-card card4">
        <p class="text">
          Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
        </p>
        <a href="#" class="btn-reset btn btn-stroke">
          Читать
        </a>
      </li>

      <li class="useful-card card5">
        <p class="text">
          Как принято считать, некоторые особенности приносят несомненную пользу обществу?
        </p>
        <a href="#" class="btn-reset btn btn-stroke">
          Читать
        </a>
      </li>
    </ul>
  </div>
</section>
