// container
$font-f: "OpenSans", "PlayfairDisplay-Black", sans-serif;

$padX-desk: 0 50px;
$padX-tab: 0 36px;
$padX-tabSm: 0 72px;
$padX-mob: 0 12px;

$max-w-desk: 1380px;
// $w-mob: 320px;     ???



// radius
$r-10: 10px;


// border
$bor-1: 1px solid transparent;
$bor-2: 2px solid transparent;


// transition
$tr: 0.3s ease-in-out;



// indent




// colors (l-light, s-shade)
$white: #FFFFFF;
$black: #333333;
$green: #B8EC64;

$grey-l: #F6F6F6;
$grey-md: #EAEAEA;
$grey: #999999;
$grey-s: #666666;

$pink-l: #F8EFFF;
$pink: #EBD1FF;
$pink-v: #EBD1FF;

$primary-l: #C998FB;
$primary: #A65CF0;
$primary-s: #7033AC;

$bone: #FFF5D1;
$gold: #D5B986;

$orange-l: #FFBD59;
$orange: #FF862F;
$orange-s: #BB370E;







