@import "mixins";


@include tablet {

  .header {
    &__container {
      grid-template-columns: repeat(9, 1fr);
      row-gap: 0;
      grid-template-areas:
        'phone phone phone phone phone phone phone phone phone'
        'nS nS nS nS nS nS nS UB UB'
        'logo logo nM nM nM nM nM nM nM'
        'fT fT fT fT fT fT fT fT fT'
    }

    .logo {
      grid-row: 3/span 1;
      padding: 32px 0;
    }

    .phone-wrap {
      padding: 18px 0;
    }

    .nav {

      &.nav-sec {
        grid-row: 2/span 1;
        justify-self: flex-start;
      }

      &.nav-main {
        grid-row: 3/span 1;

        .nav__list {
          gap: 40px;
        }

      }
    }

    .form-top {
      grid-row: 4/span 1;
      max-width: 77%;
    }

    .userBasket {
      grid-row: 2/span 1;
    }
  }


  .hero {
    background-position: left bottom;
    background-size: 137%;

    &__container {
      .title2-banner {
        width: 59%;
      }
    }
  }



  .offers {
    .discount {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'o1 o2 o3';

      .disc-card {
        &.card2 {
          gap: 48px;

          .picture {
            width: 254px;
            margin-left: -9px;
          }

          .disc-card__wrap {
            .draw-img {
              display: none;
            }
          }
        }
      }
    }
  }



  .best {
    .rating {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'b1 b2 b3'
        'b4 b5 b6';

      .card7,
      .card8 {
        display: none
      }
    }
  }




  .banner {
    @include image-set('../../img/banner-tab');

    &__container {
      .title2-banner {
        width: 55%;
      }
    }
  }




  .categ {
    .cat {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 511px);
      grid-auto-rows: 511px;
      grid-template-areas:
        'c1 c1 c3'
        'c4 c2 c5';

      .cat-card {
        background-position: left 127px;
      }

      .card1 {
        background-position: left 121px;
      }

      .card2 {
        background-image: url('../../img/cat2-tab.png');
      }

      .card3 {
        background-image: url('../../img/cat3-tab.png');
        background-size: 100%;
      }

      .card4 {
        background-image: url('../../img/cat4-tab.png');
      }

      .card5 {
        background-image: url('../../img/cat5-tab.png');
        background-size: 90%;
      }
    }
  }






  .useful {
    .useful-list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'u1 u2 u3';

      .card3 {
        display: flex;
      }

      .useful-card {
        padding-top: 232px;

        .text {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }





  .footer {
    .foot {
      &__wrap {
        gap: 75px;
      }

      &__nav {
        .nav__head {
          gap: 75px;
        }
      }
    }
  }






}















@include tabletSm {
  .header {
    &__container {
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas:
        'phone phone phone phone phone phone'
        'nS nS nS nS nS nS'
        'logo logo logo UB UB UB'
        'nM nM nM nM nM nM'
        'fT fT fT fT fT fT'
    }

    .nav {
      &.nav-sec {
        .nav__list {
          gap: 35px;
        }
      }

      &.nav-main {
        grid-row: 4/span 1;
        padding-bottom: 34px;

        .main-link {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }

    .form-top {
      grid-row: 5/span 1;
      max-width: 100%;
    }

    .userBasket {
      grid-row: 3/span 1;
    }
  }





  .hero {
    background: $grey-l url('../../img/hero-tabSm.jpg') no-repeat center / cover;
    padding: 80px 0;

    &__container {
      .title2-banner {
        width: 90%;
      }
    }
  }



  .offers {
    .discount {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'o1 o2';

      .disc-card {
        &.card3 {
          display: none;
        }
      }
    }
  }






  .best {
    .rating {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'b1 b2'
        'b3 b4';
    }
  }






  .banner {
    background-position: left center;

    &__container {
      margin-left: -36px;

      .title2-banner {
        width: 84%;
      }
    }
  }





  .categ {
    .cat {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'c1 c1'
        'c3 c2'
        'c4 c5';
    }
  }





  .useful {
    .useful-list {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        'u1 u2';

      .card3 {
        display: none;
      }
    }
  }





  .fb {
    .content {
      width: 100%;
    }
  }







  .footer {
    .foot {
      &__wrap {
        @include flexC;
        gap: 25px;
      }

      &__logoSoc {
        @include flex-center-space;
        width: 100%;

        .soc {
          padding-right: 50px;
        }
      }

      &__nav {
        .nav__head {
          gap: 39px;
        }
      }
    }
  }






  .cooperat {
    &__content {
      width: 100%;

      &.item2,
      &.item5 {
        width: 100%;
      }
    }
  }

}














@include mob {
  .header {
    &__container {
      gap: 16px;
      grid-template-areas:
        'logo logo logo logo logo logo'
        'phone phone phone UB UB UB'
        'nM nM nM nM nM nM'
        'fT fT fT fT fT fT'
    }

    .logo {
      position: relative;
      grid-row: 1/span 1;
      padding: 12px 0;

      &__img {
        margin: 0 auto;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: -10;
        top: 0;
        left: -200%;
        right: -200%;
        bottom: 0;
        background-color: $grey-l;
      }
    }

    .phone-wrap {
      position: relative;
      grid-row: 2/span 1;
      padding: 13px 0;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: -200%;
        right: -200%;
        bottom: 0;
        border: $bor-1;
        border-color: $grey-l;
      }
    }


    .nav {
      &.nav-sec {
        display: none;
      }

      &.nav-main {
        grid-row: 3/span 1;
        justify-self: flex-start;
        padding-bottom: 0;
        max-width: 100%;
        overflow: hidden;
        overflow-x: auto;

        &::-webkit-scrollbar {
          height: 0;
        }

        .nav__list {
          gap: 30px;
        }
      }
    }

    .form-top {
      grid-row: 4/span 1;
    }

    .userBasket {
      grid-row: 2/span 1;
    }
  }




  .hero {
    margin-bottom: 32px + 60px;
    padding: 30px 0;

    &__container {
      &-wrap {
        position: relative;

        .title2-banner {
          margin-bottom: 0;
          padding-left: 18px;
          width: 85%;
          min-height: 210px - (30px * 2);
          font-size: 20px;
          line-height: 27px;
        }

        .btn {
          position: absolute;
          top: 100% + 41%;
          width: 100%;
        }
      }
    }
  }




  .offers {
    .discount {
      grid-template-columns: 1fr;
      grid-template-areas:
        'o1'
        'o2'
        'o3';

      .disc-card {
        &.card3 {
          display: block;
        }
      }
    }
  }




  .best {
    .rating {
      gap: 16px;

      .best-card {
        padding: 16px;
        min-height: 278px;

        &::after {
          top: 16px;
          left: 16px;
          font-size: 12px;
          line-height: 15.5px;
        }

        &__wrap-text {
          gap: 16px;

          .title3 {
            font-size: 16px;
            line-height: 21px;
          }

          .btn-stroke {
            padding: 12px 25px;
          }
        }

      }
    }
  }






  .banner {
    margin-bottom: 32px + 60px;
    padding: 30px 0;
    @include image-set('../../img/banner-mob');
    background-position: center;

    &__container {
      margin-left: 0;

      &-wrap {
        position: relative;


        .title2-banner {
          margin: 0;
          width: 65%;
          line-height: 10px;
          min-height: 210px - (30px * 2);

          &__top {
            font-size: 24px;
            line-height: 29px;
          }

          &__bottom {
            font-size: 18px;
            line-height: 20px;
          }
        }

        .btn {
          position: absolute;
          top: 100% + 41%;
          width: 100%;
        }
      }
    }
  }





  .categ {
    .cat {
      grid-template-rows: 332px 206px;
      grid-auto-rows: 206px;

      .cat-card {
        background-position: left bottom 16px;
        background-size: 100%;
        padding: 16px;
        gap: 4px;

        .list {
          flex-direction: column;
          gap: 4px;
          font-size: 10px;
          line-height: 10px;
        }

        .card-wrap {
          position: relative;
          flex-direction: row;
          align-items: flex-end;
          gap: 5px;
          height: max-content;


          .title3 {
            font-size: 16px;
            line-height: 21px;
          }

          .to-link {
            @include clickZone-0;
            margin-top: 0;

            &__text {
              display: none;
            }
          }
        }
      }

      .card1 {
        gap: 14px;
        background-position: right -10px bottom 16px;
        background-size: 130%;

        .list {
          flex-direction: row;
          gap: 20px;
          font-size: 14px;
          line-height: 14px;
        }

        .title3 {
          font-size: 24px;
          line-height: 32px;
        }
      }

      .card2 {
        background-image: url('../../img/cat2.png');
        background-position: left -20px bottom 16px;
        background-size: 130%;
      }

      .card3 {
        background-image: url('../../img/cat3.png');
        background-size: 115%;
      }

      .card4 {
        background-image: url('../../img/cat4.png');
        background-size: 105%;
      }

      .card5 {
        background-image: url('../../img/cat5.png');
      }
    }
  }




  .useful {
    .useful-list {
      grid-template-columns: 1fr;
      grid-template-areas:
        'u1'
        'u2'
        'u3'
        'u4'
        'u5'
      ;

      .useful-card {
        min-height: 254px + 202px;
      }

      .card3,
      .card4,
      .card5 {
        display: flex;
      }
    }
  }





  .fb {
    .content {
      .title2 {
        font-size: 24px;
        line-height: 24px;
      }

      .fb__form {
        .checkbox {
          &__span {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

    }

    .picture {
      display: none
    }
  }






  .footer {
    .foot {
      &__logoSoc {
        @include flexC-x-center;
        gap: 24px;

        .soc {
          padding-right: 0;
        }
      }

      &__nav {
        .nav__head {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 16px;
          row-gap: 24px;
          grid-template-areas:
            'one one one two two two'
            'three three three four four four';

          &-item {
            &:nth-child(1) {
              grid-area: one;
              grid-row: 1/span 1;
            }

            &:nth-child(2) {
              grid-area: two;
              grid-row: 1/span 1;
            }

            &:nth-child(3) {
              grid-area: three;
              grid-row: 2/span 1;
            }

            &:nth-child(4) {
              grid-area: four;
              grid-row: 2/span 1;
            }
          }
        }
      }
    }
  }







  .cooperat {
    .descr {
      font-size: 14px;
      line-height: 25px;
    }

    .route {
     display: none;
    }

    &__content {
      .title2 {
        font-size: 24px;
        line-height: 24px;
      }

      .main-list {
        &__item {
          .title3 {
            font-size: 16px;
            line-height: 22px;
          }

          &.item5 {
            .item5__descr {
              padding: 0 0 0 52px;
              font-size: 16px;
              line-height: 24px;
              background-size: 36px 54px;
            }
          }
        }
      }
    }
  }

}
